body {
  font-family:    Arial, Helvetica, sans-serif;
  color:          white;
}
.big {
    font-size:      12vw;
}
.animate-fading {
  animation:fading 10s infinite
} @keyframes fading {0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.animate-opacity {
  animation:opac 0.8s
  }@keyframes opac{from{opacity:0} to{opacity:1}}

footer {
  font-family:    Arial, Helvetica, sans-serif;
  color:          white;
  font-size:      0.75em;
  margin-top:     4em;
}
